/* Fuente general */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #0f0f10;
  color: white;
}

/* --- NAVBAR --- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo {
  width: 130px;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #a855f7; /* Violeta */
}

/* --- HERO SECTION --- */
.hero {
  height: 100vh;
  background: url("assets/images/humo-violeta.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.hero-text h1 {
  font-size: 4rem;
  color: #fff;
  text-shadow: 0px 0px 20px #a855f7;
}

.hero-text p {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #e0e0e0;
}

.btn-cta {
  margin-top: 2rem;
  background-color: #a855f7;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-cta:hover {
  background-color: #9333ea;
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hero-text h1 {
    font-size: 2.5rem;
  }
  }
